[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
google-cloud-secret-manager = "*"
python-dotenv = "*"
torch = "*"
transformers = "*"
pdf2image = "*"
django-cors-headers = "*"
google-cloud-vision = "*"

[dev-packages]

[requires]
python_version = "3.12"
